<div id="dlgBecomeMember" title="dlgBecomeMember.title" style="display: none;" >
	    
    <div class="container-fluid" style="margin: 0 auto; width:350px; position: float;">
		
		<div class="form-group">
			<label for="dlgBecomeMember_username">
				<span id="dlgBecomeMember_label_username">login.username</span>
			</label>
			<input type="text" class="form-control" id="dlgBecomeMember_username" placeholder="login.username.placeholder">
		</div>
			
		<div class="form-group">
			<label for="dlgBecomeMember_email">
				<span id="dlgBecomeMember_label_email">dlgBecomeMember.email</span>
			</label>
			<input type="email" class="form-control" id="dlgBecomeMember_email">
		</div>
	
		<div class="form-group">
			<label for="dlgBecomeMember_newPassword">
				<span id="dlgBecomeMember_label_newPassword">login.password</span>
			</label>
			<input type="password" class="form-control" id="dlgBecomeMember_newPassword" placeholder="login.password.placeholder" autocomplete="off">
		</div>
	
		<div class="form-group">
			<label for="dlgBecomeMember_confirmNewPassword">
				<span id="dlgBecomeMember_label_confirmNewPassword">changePassword.confirmNewPassword</span>
			</label>
			<input type="password" class="form-control" id="dlgBecomeMember_confirmNewPassword">
		</div>
	
		<div class="form-group">
			<div style="margin: 0 auto; width:40%">
				<button type="button" class="btn btn-primary btn-icon-split" id="dlgBecomeMember_btnSignUp">
					<span class="icon text-white-50">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
					</span>
					<span class="text">login.becomeMember</span>
				</button>
			</div>
		</div>
					
    </div>

	<script src="../../static/js/hfsframework/hfsframework-becomeMember.js"></script>
    
</div>
