<div id="dlgForgotPassword" title="login.forgotPassword" style="display: none;">

	<div class="container-fluid" style="margin: 0 auto; width:350px; position: float;">
		    
		<div class="form-group">
			<label for="dlgForgotPassword_username">
				<span id="dlgForgotPassword_label_username">login.username</span>
			</label>
			<input type="text" class="form-control" id="dlgForgotPassword_username" placeholder="login.username.placeholder">
		</div>

		<div class="form-group">
			<div style="margin: 0 auto; width:40%">
				<button type="button" class="btn btn-success btn-icon-split" id="dlgForgotPassword_btnSend">
					<span class="icon text-white-50">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
					</span>
					<span class="text">button.send</span>
				</button>
			</div>
		</div>
	
	</div>
	
	<script src="../../static/js/hfsframework/hfsframework-forgotPassword.js"></script>
	    
</div>
