<div class="col-md-3 form-group">
	<label for="cmbReportType">panelReport.cmbReportType</label>
	<select class="form-control" id="cmbReportType">
        <!--
	 	<optgroup th:each="group : ${listReportType}" th:label="${group.group}">
	 		<option th:each="option : ${group.types}" value="${option}">option.description</option>
        </optgroup>
        -->
	</select>
</div>
<div class="col-md-3 form-group">
	<label class="checkbox-inline" for="forceDownload">
		<input type="checkbox" id="forceDownload">&nbsp;panelReport.forceDownload
	</label>
</div>
