<div class="col-md-3 form-group">
    <label for="cmbReportType">{{ messages["panelReport.cmbReportType"] }}</label>
    <select class="form-select" id="cmbReportType">
        {% for group in listReportType %}
            <optgroup label="{{ group.getGroup() }}">
                {% for option in group.getTypes() %}
                    <option value="{{ option.getType() }}">{{ option.getDescription() }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
</div>
<div class="col-md-3 form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="forceDownload">
        <label class="form-check-label" for="forceDownload">
            &nbsp;{{ messages["panelReport.forceDownload"] }}
        </label>
    </div>
</div>
